<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
  <link href="/stylesheets/tx.css" rel="stylesheet" type="text/css">
  <script src="/javascripts/vendor/binary.js"></script>
  <script src="/r.js"></script>
  <% if (locals.env !== "production") { %>
    <script src="/javascripts/base.js"></script>
  <% } else { %>
    <script src="/production.js"></script>
  <% } %>
  <title>transmission</title>
</head>
