<div class="row"></div>
<footer class="container">
  <div class='tx-hud med-pad center span5 offset3'>
    <span class="muted">made by <strong class='orange'>adam</strong> in San Francisco.</span>
  </div>
</footer>

