<!DOCTYPE html>
<html lang="en">
<% include _head.ejs %>
<body>
  <div id="absolute-wrapper">
    <% include _header.ejs %>
    <div class="clearfix"></div>
    <div class="row grid-spacing">
      <div id="tx-container" class="span8 grid-spacing">
        <div class="tx-hud med-pad span5 offset1">
          <h3 class="center">begin transmission.</h3>
          <hr/>
          <div class="muted grid-spacing center">
            <span>generate an access code.</span> 
            <br/>
            <span>share the url with whomever you want to transfer files with.</span>
          </div>
          <div id="grant-access" class="center xxlarge-margin-top">
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include footer.ejs %>
</body>
</html>
