html {
  height: 100%
}

body { 
	background-color: #e8e6d9; 
	position: relative;
  width: 100%;
}

#absolute-wrapper {
	position: relative;
	height: auto;
	width: 1170px;
	margin: 0 auto;
}

#header {
  font-family: "helvetica neue", Helvetica, Arial, sans-serif;
  height: 60px;
  margin-top: 20px;
}

#header h1 {
	color: #3daee4;
	line-height: 28px;
	font-size: 27px;
}

#sub-header {
  font-family: "helvetica neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 16px;
  height: 20px;
}

#tx-container {
	min-height: 80px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	float: none;
	margin-top: 40px;
}

#stats {
	margin-top: 20px;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.tx-hud {
	background: #eee;
	font-size: 14px;
	height: 100px;
	margin: 0 auto;
	text-align: center;
	border-radius: 2px;
	border: 1px solid #e0e0e0;
	color: #36444B;
	line-height: 40px;
  margin-right: 5px
}

.hi-lite {
	width: 100%;
	float: left;
	color: #ff6840;
	font-size: 46px;
	margin-top: 10px;
}

.mode {
	margin-top: 25px;
}

#tx-useage, #tx-useage h2 {
	margin-left: auto;
	margin-right: auto;
	float: none;
	text-align: center;
	color: rgb(54, 68, 75);
}

#tx-drop-box {
	min-height: 212px;
  height: auto;
	margin-left: auto;
	margin-right: auto;
	float: none;
	border: 4px solid rgb(54, 68, 75);
}
.tx-file {
	margin-left: 20px;
}
.tx-info {
	margin-top: 10px;
	margin-bottom: 10px;
}

.tx-info p {
	margin-bottom: 0;
	line-height: 20px;
}

.tx-name {
	color: #36444B;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 0px;
}

.tx-progress {
	overflow: hidden;
	height: 14px;
	margin-bottom: 18px;
	background-color: #f7f7f7;
	background-image: -ms-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -webkit-linear-gradient(top, #c2c2c2, #c9c9c9);
	background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
	background-repeat: repeat-x;
	-webkit-box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	border: 1px solid #e0e0e0;
}

.tx-bar {
	width: 0%;
	height: 14px;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: rgb(143,143,143);
	background-image: -ms-linear-gradient(top, rgb(143, 143, 143), rgb(3, 18, 27));
	background-image: -webkit-linear-gradient(top, rgb(143, 143, 143), rgb(3, 18, 27));
	background-image: -o-linear-gradient(top, rgb(143, 143, 143), rgb(3, 18, 27));
	background-image: linear-gradient(top, rgb(143, 143, 143), rgb(3, 18, 27));
	background-repeat: repeat-x;
	box-shadow: inset 0 -1px 35px rgba(0, 0, 0, 0.15);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: width 0.6s ease;
	-ms-transition: width 0.6s ease;
	-o-transition: width 0.6s ease;
	transition: width 0.6s ease;
}

.tx-size {
	background: rgb(54, 68, 75);
	color: #f7f7f7;
	text-align: right;
	margin-right: 20px;
	padding-right: 5px;
	border-radius: 2px;
  margin-top: 0px
}

.tx-success {
	display: inline-block;
	vertical-align: middle;
	margin-top: 4px;
}

/* UTILITY */
.clear-margin { margin-left: 0; }
.mute { color: #999 }
.disabled { opacity: 0.3 }
/* COLORS
	coffee: #80523C
	peach: #FA8950
	tropics: #63CC94
*/
